* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

html {
  color: $fontcolor;
  font-family: $text;
}

body {
  text-align: center;
}
header {
  background-color: #9dc8c8;
}

img {
  width: 100%;
  text-align: center;
  border: $bordercolor;
}

aside {
 background-color: $themebackGroundColor;
}

section{
  background-color: $themebackGroundColor;
}

main {
  background-color: $themebackGroundColor;
}

.categories {
  li {
    height: 100px;
    font-size: 48px;
    color: $fontcolor;
    font-family: $lists;
    text-align: center;
    background: url('/img/pexels-photo-253682.jpeg');
    background-position: bottom;
    background-size: cover;
  }
}
