
html {
  font-family: sans-serif;
  font-style: normal;
  font: $fontcolor;
}
body{
  text-align: center;
}
.card-panel {
  padding: 80%;
  margin: inherit;
  background: $backgroundColor;
}
img {
  border: $bordercolor;
}
h2 {
 margin-top: inherit;
}
aside {
 background-color: $themebackGroundColor;
}
li {
  width: 80%;
}
section{
  background-color: $themebackGroundColor;
}
main {
  background-color: $themebackGroundColor;
}
