
html {
  font-family: sans-serif;
  font-style: normal;
  font: $fontcolor;
}
body{
  text-align: center;
}
.card-panel {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  background: $backgroundColor;
}
img {
  border: $bordercolor;
}
h2 {
 margin-top: inherit;
 text-align: center;
}
aside {
 background-color: $themebackGroundColor;
}
li {
  width: 80%;
  padding: 20%;
}
section{
  background-color: $themebackGroundColor;
}
main {
  background-color: $themebackGroundColor;
}
