// All the colors for the things
$fontcolor: #1C1C1C;
$bordercolor: 1em solid #767689;
$backgroundColor: #4db6ac;
$themebackGroundColor: #b0bec5;

//The fonts to use
$lists: 'Mrs Sheppards', cursive;
$text: 'PT Sans', sans-serif;
